@using MvcCvProject.Models.Entity
@model List<TblEducation>


<div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    @foreach (var value in Model)
    {
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">@value.title</h3>
            <div class="subheading mb-3">@value.subtitle</div>
            <div>@value.department</div>
            <p>GPA: @value.gpa</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@value.date</span></div>
    </div>
    }
</div>
