﻿@model MvcCvProject.Models.Entity.TblAbout
@{
    ViewBag.Title = "GetAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Summary</h2>
<br />
<form method="post" class="form-group">
    <br />
    @Html.Label("Name")
    @Html.TextBoxFor(m => m.name, new { @class = "form-control" })

    @Html.Label("Surname")
    @Html.TextBoxFor(m => m.lastname, new { @class = "form-control" })

    @Html.Label("Address")
    @Html.TextAreaFor(m => m.address, new { @class = "form-control" })

    @Html.Label("Mail")
    @Html.TextBoxFor(m => m.email, new { @class = "form-control" })

    @Html.Label("Phone Number")
    @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })

    @Html.Label("Description")
    @Html.TextAreaFor(m => m.description, new { @class = "form-control" })

    @Html.Label("Image")
    @Html.TextBoxFor(m => m.image, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>
</form>